{% extends "baseheader.html" %}
{% load crispy_forms_tags %}
{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/profile_style.css' %}">
    <script src="https://kit.fontawesome.com/6a247440d5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Restaurant Account Profile {% endblock %}

{% block content %}
<!--    <div class="wrapper fl">-->
<!--        <div class="main">-->
<!--            <div class="head">-->
<!--                <p>Restaurant Account Profile</p>-->
<!--            </div>-->
<!--            <div class="media">-->
<!--                <img class="rounded-circle account-img" src="{{ user.rprofile.photo.url }}">-->
<!--                <div class="media-body">-->
<!--                  <h2 class="account-heading">{{ user.username }}</h2>-->
<!--                  <p class="text-secondary">{{ user.email }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            {% load crispy_forms_tags %}-->
<!--            <div class="form fl">-->
<!--                <form method="POST" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->
<!--                    <fieldset class="form-group">-->
<!--                        <legend class="border-bottom mb-4">Profile Info</legend>-->
<!--                        {{ user_form|crispy }}-->
<!--                        {{ profile_form|crispy }}-->
<!--                    </fieldset>-->
<!--                    <div class="submit-wrap">-->
<!--                        <input type="submit" id="submit" name="sb" value="SUBMIT">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container-fluid emp-profile">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ user.rprofile.photo.url }}" alt=""/>
<!--                        <div class="file btn btn-lg btn-primary">-->
<!--                            Change Photo-->
<!--                            <input type="file" name="file"/>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ user.username }}
                        </h5>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags %}
                                    <script>alert("{{ message }}")</script>
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            {% if profile_action == 'view' %}
                            <li class="nav-item">
                                <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="true">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="certificate-tab" data-toggle="tab" href="#certificate" role="tab" aria-controls="certificate" aria-selected="false">Business License</a>
                            </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active" id="info-tab-edit" data-toggle="tab" href="#info-edit" role="tab" aria-controls="info-edit" aria-selected="true">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="certificate-tab-edit" data-toggle="tab" href="#certificate-edit" role="tab" aria-controls="certificate-edit" aria-selected="false">Business License</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" id="restaurant-tab" data-toggle="tab" href="#restaurant" role="tab" aria-controls="restaurant" aria-selected="false">Owned Restaurant</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    {% if profile_action == 'view' %}
                        <form method="get" action="{% url 'accessible_restaurant:restaurant_profile' %}?{{ request.GET.urlencode }}">
{#                            {% csrf_token %}#}
                            <input type="submit" class="btn btn-yellow profile-edit-btn" name="action" value="Edit Profile"/>
                        </form>
                    {% else %}
                        <form method="get" action="{% url 'accessible_restaurant:restaurant_profile' %}?{{ request.GET.urlencode }}">
{#                            {% csrf_token %}#}
                            <input type="submit" class="btn btn-yellow profile-edit-btn" name="action" value="View Profile"/>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        {% if profile_action == 'view' %}
                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                {% for field in user_form %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>{{ field.label_tag }}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <p>{{ field.value }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for field in profile_form %}
                                    {% if field.label != 'Authentication Status' %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{ field.label_tag }}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p>{{ field.value }}</p>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="tab-pane fade" id="certificate" role="tabpanel" aria-labelledby="certificate-tab">
                                {% for field in auth_form %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>{{ field.label_tag }}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <p>{{ field.value }}</p>
                                            <p style="font-style: italic; font-size: x-small; color: #080808;">{{ field.help_text }} </p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% if auth_request_list %}
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label>Documents are being reviewed:</label>
                                        </div>
                                    </div>
                                    {% for restaurant in auth_request_list %}
                                        <div class="row">
                                            <div class="col-md-4">
                                            </div>
                                            <div class="col-md-5">
                                                <p>{{ restaurant.name }}, {{ restaurant.address }}, {{ restaurant.city }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="tab-pane fade show active" id="info-edit" role="tabpanel" aria-labelledby="info-tab-edit">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in user_form %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>{{ field.label_tag }}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <p>{{ field }}</p>
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger">
                                                        <strong>{{ error|escape }}</strong>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if user_form.errors %}
                                        {% for error in user_form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% for field in profile_form %}
                                        {% if field.label != 'Authentication Status' %}
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>{{ field.label_tag }}</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <p>{{ field }}</p>
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="row" style="display: none">
                                                <div class="col-md-4">
                                                    <label>{{ field.label_tag }}</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <p>{{ field }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% if profile_form.errors %}
                                        {% for error in profile_form.non_field_errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="row">
                                        <div class="submit-wrap">
                                            <input type="submit" id="submit-info" name="submit-info" value="UPDATE" class="btn btn-primary font-weight-bold">
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane fade" id="certificate-edit" role="tabpanel" aria-labelledby="certificate-tab-edit">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in auth_form %}
                                        {% if field.label == 'Restaurant Choices' %}
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>{{ field.label_tag }}</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-9">
                                                    <p>{{ field }}</p>
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% elif field.label != 'Authentication Status' %}
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>{{ field.label_tag }}</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <p>{{ field }}</p>
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="row" style="display: none">
                                                <div class="col-md-4">
                                                    <label>{{ field.label_tag }}</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <p>{{ field }}</p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}

                                    <div class="submit-wrap">
                                        <input type="submit" id="submit-certificate" name="submit-certificate" value="UPLOAD" class="btn btn-primary font-weight-bold">
                                    </div>
                                </form>
                                {% if auth_form.errors %}
                                    {% for error in auth_form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="tab-pane fade" id="restaurant" role="tabpanel" aria-labelledby="restaurant-tab">
                            {% for restaurant in restaurant_list %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <label><a href="{% url 'accessible_restaurant:detail' restaurant.business_id %}">{{ restaurant.name }}</a></label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{ restaurant.address }}, {{ restaurant.city }}, {{ restaurant.zip_code }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}