{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/profile_style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block title %} User Account Profile {% endblock %}

{% block body %}<body class="subpage">{% endblock %}

{% block content %}
<!--    <div class="wrapper fl">-->
<!--        <div class="main">-->
<!--            <div class="head">-->
<!--                <p>User Account Profile</p>-->
<!--            </div>-->
<!--            <div class="media">-->
<!--                <img class="rounded-circle account-img" src="{{ user.uprofile.photo.url }}">-->
<!--                <div class="media-body">-->
<!--                  <h2 class="account-heading">{{ user.username }}</h2>-->
<!--                  <p class="text-secondary">{{ user.email }}</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form fl">-->
<!--                <form method="POST" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->
<!--                    {{ user_form|crispy }}-->
<!--                    {{ profile_form|crispy }}-->
<!--                    <fieldset class="form-group">-->
<!--                        <legend class="border-bottom mb-4">Profile Info</legend>-->

<!--                    </fieldset>-->
<!--                    <div class="submit-wrap">-->
<!--                        <input type="submit" id="submit" name="sb" value="SUBMIT">-->
<!--                    </div>-->
<!--                </form>-->
<!--                <form method="POST" enctype="multipart/form-data">-->
<!--                    {% csrf_token %}-->
<!--                    {{ auth_form|crispy }}-->
<!--                    <fieldset class="form-group">-->
<!--                        <legend class="border-bottom mb-4">Upload Certificate Info</legend>-->

<!--                    </fieldset>-->
<!--                    <div class="submit-wrap">-->
<!--                        <input type="submit" id="submit" name="sb" value="SUBMIT">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="{{ user.uprofile.photo.url }}" alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{ user.username }}
                        </h5>
                        <h6>
                            Authentication Status: {{ user.uprofile.auth_status }}
                        </h6>
                        <p class="proile-rating">Authentication Status : <span>{{ user.uprofile.auth_status }}</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br/>
                        <a href="">Bootsnipp Profile</a><br/>
                        <a href="">Bootply Profile</a>
                        <p>SKILLS</p>
                        <a href="">Web Designer</a><br/>
                        <a href="">Web Developer</a><br/>
                        <a href="">WordPress</a><br/>
                        <a href="">WooCommerce</a><br/>
                        <a href="">PHP, .Net</a><br/>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in user_form %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>{{ field.label_tag }}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <p>{{ field }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for field in profile_form %}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>{{ field.label_tag }}</label>
                                        </div>
                                        <div class="col-md-5">
                                            <p>{{ field }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="submit-wrap">
                                    <input type="submit" id="submit" name="sb" value="SUBMIT">
                                </div>
                            </form>

                            {% for field in user_form %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>{{ field.label_tag }}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{ field.value }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for field in profile_form %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>{{ field.label_tag }}</label>
                                    </div>
                                    <div class="col-md-5">
                                        <p>{{ field.value }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experience</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Hourly Rate</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>10$/hr</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Total Projects</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>230</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>English Level</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Availability</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>6 months</p>
                                        </div>
                                    </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Your Bio</label><br/>
                                    <p>Your detail description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}


{#{% extends "base.html" %}#}
{#{% load crispy_forms_tags %}#}
{#{% block body %}<body class="subpage">{% endblock %}#}
{#{% block content %}#}
{#    <div class="content-section">#}
{#      <div class="media">#}
{#        <img class="rounded-circle account-img" src="{{ user.uprofile.photo.url }}">#}
{#        <div class="media-body">#}
{#          <h2 class="account-heading">{{ user.username }}</h2>#}
{#          <p class="text-secondary">{{ user.email }}</p>#}
{#        </div>#}
{#      </div>#}
{#      <form method="POST" enctype="multipart/form-data">#}
{#          {% csrf_token %}#}
{#          <fieldset class="form-group">#}
{#              <legend class="border-bottom mb-4">Profile Info</legend>#}
{#              {{ user_form|crispy }}#}
{#              {{ profile_form|crispy }}#}
{#          </fieldset>#}
{#          <div class="form-group">#}
{#              <button class="btn btn-outline-info" type="submit">Update</button>#}
{#          </div>#}
{#      </form>#}
{#    </div>#}
{#{% endblock content %}#}