{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/detail_style.css' %}">
    <script src="https://kit.fontawesome.com/6a247440d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block title %} Restaurant Detail Page {% endblock %}

{% block body %}<body class="subpage">{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="inner">
            <div class="row 200%">
                <div class="8u 12u$(medium)">
                    <header>
                        <ul class="actions">
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>{{ message.tags }}: </strong>{{ message }}
                                        </div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <li><h2><strong>{{ restaurant.name }}</strong></h2></li>
                            {% if restaurant.compliant %}
                                <li><h4><i class="icon far fa-check-circle"></i>compliant</h4></li>
                            {% else %}
                                <li><h4><i class="icon far fa-times-circle"></i>compliant</h4></li>
                            {% endif %}
                        </ul>
                        <ul class="icons">
                            {% for _ in full %}
                                <li><i class="icon fas fa-star"></i></li>
                            {% endfor %}
                            {% for _ in half %}
                                <li><i class="icon fas fa-star-half-alt"></i></li>
                            {% endfor %}
                            {% for _ in null %}
                                <li><i class="icon far fa-star"></i></li>
                            {% endfor %}
                            <li><h4>{{ restaurant_data.review_count}} Reviews</h4></li>
                        </ul>
                        <ul class="actions">
                            <li><a href="{% url 'accessible_restaurant:write_review' restaurant.business_id %}" class="button special"><i class="far fa-edit"></i>Write a review</a></li>
                        </ul>
                            {% leaflet_js %}
                            {% leaflet_css %}
                    </header>

                    <hr />
                    <h2>About the restaurant</h2>
                    <ul>
                        <li><strong>Price:</strong> {{ restaurant_data.price }}</li>
                        <li>
                            <strong>Categories:</strong>
                            {% for category in restaurant_data.categories %}
                                {% if forloop.counter == restaurant_data.categories|length %}
                                    {{ category.title }}
                                {% else %}
                                    {{ category.title }},
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    <hr />


{#                    <i class="icon fas fa-check-square" id="checklist1"></i>#}
                    <h2>Accessible Services</h2>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            Level entry or ramp
                        </div>
                        <ul class="icons">
                            {% for _ in level_entry_rating_full %}
                                <li><i class="icon fas fa-star"></i></li>
                            {% endfor %}
                            {% for _ in level_entry_rating_half %}
                                <li><i class="icon fas fa-star-half-alt"></i></li>
                            {% endfor %}
                            {% for _ in level_entry_rating_null %}
                                <li><i class="icon far fa-star"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            32-inch wide door
                        </div>
                        <ul class="icons">
                            {% for _ in wide_door_rating_full %}
                                <li><i class="icon fas fa-star"></i></li>
                            {% endfor %}
                            {% for _ in wide_door_rating_half %}
                                <li><i class="icon fas fa-star-half-alt"></i></li>
                            {% endfor %}
                            {% for _ in wide_door_rating_null %}
                                <li><i class="icon far fa-star"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            Accessible tables
                        </div>
                        <ul class="icons">
                            {% for _ in accessible_table_rating_full %}
                                <li><i class="icon fas fa-star"></i></li>
                            {% endfor %}
                            {% for _ in accessible_table_rating_half %}
                                <li><i class="icon fas fa-star-half-alt"></i></li>
                            {% endfor %}
                            {% for _ in accessible_table_rating_null %}
                                <li><i class="icon far fa-star"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            Accessible restroom
                        </div>
                        <ul class="icons">
                            {% for _ in accessible_restroom_rating_full %}
                                <li><i class="icon fas fa-star"></i></li>
                            {% endfor %}
                            {% for _ in accessible_restroom_rating_half %}
                                <li><i class="icon fas fa-star-half-alt"></i></li>
                            {% endfor %}
                            {% for _ in accessible_restroom_rating_null %}
                                <li><i class="icon far fa-star"></i></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="row uniform">
                        <div class="4u 12u$(small)">
                            Accessible 36-inch wide path
                        </div>
                        <ul class="icons">
                            {% for _ in accessible_path_rating_full %}
                                <li><i class="icon fas fa-star"></i></li>
                            {% endfor %}
                            {% for _ in accessible_path_rating_half %}
                                <li><i class="icon fas fa-star-half-alt"></i></li>
                            {% endfor %}
                            {% for _ in accessible_path_rating_null %}
                                <li><i class="icon far fa-star"></i></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <hr />

                    <h2>Recommended Reviews</h2>

                    {% for review in local_restaurant_review %}
                        <div class="row uniform">
                            <div class="3u 12u$(medium)">
                                <div class="row uniform">
                                    <span class="image fit"><img src="{{ review.photo.url }}" alt="" /></span>
                                </div>
                                <div class="row">
                                    {% if review.auth_status and review.auth_status == 'certified' %}
                                        <h5>
                                            <i class="icon fas fa-wheelchair"></i>
                                            Certified User
                                        </h5>
                                        <div class="help-tip">
{#                                            <i class="icon fas fa-question help-tip"></i>#}
                                            <p>Users who are certified to have disability by system.</p>
                                        </div>
                                    {% endif %}
                                    <a href = "{% url 'accessible_restaurant:public_facing' review.user_id %}">
                                        <h4>{{ review.username }}</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="9u 12u$(medium)">
                                <div class="row uniform">
                                    <ul class="icons">
                                        {% for _ in review.lfull %}
                                            <li><i class="icon fas fa-star"></i></li>
                                        {% endfor %}
                                        {% for _ in review.lhalf %}
                                            <li><i class="icon fas fa-star-half-alt"></i></li>
                                        {% endfor %}
                                        {% for _ in review.lnull %}
                                            <li><i class="icon far fa-star"></i></li>
                                        {% endfor %}
                                        <li><h4>{{ review.review_date | date:"Y-m-d H:m:s" }}</h4></li>
                                    </ul>
                                </div>
                                <div class="row uniform">
                                    <p>{{ review.review_context }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion" id="review-comments-{{ forloop.counter0 }}">
                            <div class="card">
                                <div class="card-header" id="header-{{ forloop.counter0 }}">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse-{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapseOne">
                                            Comments
                                        </button>
                                    </h3>
                                </div>

                                <div id="collapse-{{ forloop.counter0 }}" class="collapse" aria-labelledby="header-{{ forloop.counter0 }}" data-parent="review-comments-{{ forloop.counter0 }}">
                                    {% for comment in review.comments_set %}
                                        <div class="card-body">
                                            <div class="row uniform">
                                                <div class="3u 12u$(medium)">
                                                    <div class="row uniform">
                                                        {% if comment.user.is_user %}
                                                            <span class="image fit"><img src="{{ comment.user.uprofile.photo.url }}" alt="" /></span>
                                                        {% else %}
                                                            <span class="image fit"><img src="{{ comment.user.rprofile.photo.url }}" alt="" /></span>
                                                        {% endif %}
                                                    </div>
                                                    {% if restaurant.user and restaurant.user.id == comment.user.id %}
                                                        <div class="row">
                                                            <h5><i class="icon fas fa-utensils"></i>Restaurant</h5>
                                                        </div>
                                                    {% endif %}
                                                    <div class="row">
                                                        {% if comment.user.is_user %}
                                                            <a href = "{% url 'accessible_restaurant:public_facing' comment.user.id %}">
                                                                <h4>{{ comment.user.username }}</h4>
                                                            </a>
                                                        {% else %}
                                                            <h4>{{ comment.user.username }}</h4>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="9u 12u$(medium)">
                                                    <div class="row uniform">
                                                        <h5>{{ comment.time | date:"Y-m-d H:m:s" }}</h5>
                                                    </div>
                                                    <div class="row uniform">
                                                        <li>{{ comment.text }}</li>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="card-body">
                                        <div class="form fl">
                                            <form method="POST" enctype="multipart/form-data" action="{% url 'accessible_restaurant:add_comment' restaurant.business_id review.id %}">
                                                {% csrf_token %}
                                                {{ comment_form|crispy }}
                                                <div class="submit-wrap">
                                                    <input type="submit" id="submit" name="sb" value="Submit">
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}
                    <hr />

                    <h2>Yelp Reviews</h2>

                    {% for review in restaurant_review.reviews %}
                        <div class="row uniform">
                            <div class="3u 12u$(medium)">
                                <div class="row uniform">
                                    <span class="image fit"><img src="{{ review.user.image_url }}" alt="" /></span>
                                </div>
                                <div class="row">
                                    <h4><a href="{{ review.user.profile_url }}">{{ review.user.name }}</a></h4>
                                </div>
                            </div>
                            <div class="9u 12u$(medium)">
                                <div class="row uniform">
                                    <ul class="icons">
                                        {% for _ in review.full %}
                                            <li><i class="icon fas fa-star"></i></li>
                                        {% endfor %}
                                        {% for _ in review.half %}
                                            <li><i class="icon fas fa-star-half-alt"></i></li>
                                        {% endfor %}
                                        {% for _ in review.null %}
                                            <li><i class="icon far fa-star"></i></li>
                                        {% endfor %}
                                        <li><h4>{{ review.time_created }}</h4></li>
                                    </ul>
                                </div>
                                <div class="row uniform">
                                    <p><a href="{{ review.url }}">{{ review.text }}</a></p>
                                </div>
<!--                                <div class="row uniform">-->
<!--                                    <span class="image fit"><img src="{{ review.user.image_url }}" alt="" /></span>-->
<!--                                </div>-->
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="4u$ 12u$(medium)">
                    <h2>Open Hours</h2>
                    <ul>
                        {% if is_open_now %}
                            <li class="no-bullets"><i class="icon fas fa-check-circle"></i>Open Now</li>
                        {% else %}
                            <li class="no-bullets"><i class="icon fas fa-times-circle"></i>Closed</li>
                        {% endif %}
                        {% for hour_data in hours %}
                            <li>{{ hour_data.weekday }} &emsp; {{ hour_data.start }}-{{ hour_data.end }}</li>
                        {% endfor %}
                    </ul>
                    <h2>Contact Info</h2>
                    <ul class="alt">
                        <li><i class="icon fas fa-phone-square-alt"></i>{{ restaurant_data.display_phone }}</li>
                        <li><i class="icon fas fa-map-marker-alt"></i>{{ restaurant_data.location.address1 }}, {{ restaurant_data.location.city }}, {{ restaurant_data.location.state }} {{ restaurant_data.location.zip_code }}</li>
                    </ul>
                    <h2>Business Location</h2>
                    <ul class="alt">
                    <script type="text/javascript">
                    function map_init(map, options) {
                        // get point lat and lon
                        var lat = "{{ restaurant_data.coordinates.latitude }}";
                        var lon = "{{ restaurant_data.coordinates.longitude }}";
                        var mapboxUrl = 'https://api.mapbox.com/styles/v1/mapbox/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}';
                        var accessToken = 'pk.eyJ1IjoicnJyb3NzeTMxMiIsImEiOiJja2gwMjkxZ2swNjh2MnltaGN3eW54Zm9mIn0.75YK7P3nQxVJhbYwX8cwNw';
                        // zoom to point & add it to map
                        map.setView([lat, lon], 13);
                        L.marker([lat, lon]).addTo(map);
                        L.tileLayer(mapboxUrl, {id: 'outdoors-v11',
                            attribution: '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>', maxZoom: 20, accessToken: accessToken}).addTo(map);

                    }</script>
                    {% leaflet_map "mymap" callback="map_init" %}
                    </ul>
                    <h2>Pictures</h2>
                        <!-- Slideshow -->
                        <div class="w3-container">
                            {% for image in restaurant_data.photos %}
                            <div class="w3-display-container mySlides">
                                <img src="{{ image }}" style="width:100%;height:300px;object-fit:cover;">
                            </div>
                            {% endfor %}
                            <!-- Slideshow next/previous buttons -->
                            <div class="w3-container w3-green w3-padding w3-large">
                                <div class="w3-left" onclick="plusDivs(-1)"><i class="fa fa-arrow-circle-left w3-hover-text-teal"></i></div>
                                <div class="w3-right" onclick="plusDivs(1)"><i class="fa fa-arrow-circle-right w3-hover-text-teal"></i></div>
                            </div>
                        </div>
<!--                    <span class="image fit"><img src="{{ restaurant.image_url }}" alt="" /></span>-->
                </div>
            </div>
        </div>
    </section>
    <script>
        // Slideshow
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demodots");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length} ;
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
          }
          x[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " w3-white";
        }
    </script>
{% endblock %}

