{% extends "baseheader.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}
{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/details_style.css' %}">
    <script src="https://kit.fontawesome.com/6a247440d5.js" crossorigin="anonymous"></script>

    <!-- helper text tooltip -->
    <script>$(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })</script>
{% endblock %}

{% block title %} Restaurant Detail Page {% endblock %}

{% block content %}
    <header>
        {% leaflet_js %}
        {% leaflet_css %}
    </header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">{{ restaurant.name }}</h1>
            <h5>
                <ul>
                    <li><i class="address-icon fas fa-map-marker-alt"></i>&emsp;{{ restaurant.address }}, {{ restaurant.city }}, {{ restaurant.zip_code }}</li>
                </ul>
                <ul class="list-inline">
                    &emsp;
                    &emsp;
                    {% for _ in full %}
                        <li class="list-inline-item">
                            <i class="icon-star-full fas fa-star"></i>
                        </li>
                    {% endfor %}
                    {% for _ in half %}
                        <li class="list-inline-item">
                            <i class="icon-star-half fas fa-star-half-alt"></i>
                        </li>
                    {% endfor %}
                    {% for _ in null %}
                        <li class="list-inline-item">
                            <i class="icon-star-null far fa-star"></i>
                        </li>
                    {% endfor %}
                    &emsp;
                    <li class="list-inline-item"><p>({{ restaurant_data.review_count }} reviews)</p></li>
                    &emsp;
                    {% if restaurant.compliant %}
                        <span class="badge badge-pill badge-success">Compliant <i class="fas fa-wheelchair" aria-hidden="true"></i></span>
                    {% else %}
                        <span class="badge badge-pill badge-secondary">Not Compliant <i class="fas fa-wheelchair" aria-hidden="true"></i></span>
                    {% endif %}
                </ul>
<!--                <ul>-->
<!--                    &emsp;-->
<!--                    &emsp;-->
<!--                    <a class="btn btn-success btn-green btn-md" href="#"><i class="fas fa-pen"></i> Write a review</a>-->
<!--                </ul>-->
            </h5>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% if messages %}
                <div class="col-12">
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>{{ message.tags }}: </strong>{{ message }}
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="col-8 mb-5">
                <h2>About the Restaurant</h2>
                <hr>
                <div class="col-12 mb-5">
                    <ul class="overview-list">
                        <li><strong>Price:</strong> {{ restaurant_data.price }}</li>
                        <li>
                            <strong>Categories:</strong>
                            {% for category in restaurant_data.categories %}
                                {% if forloop.counter == restaurant_data.categories|length %}
                                    {{ category.title }}
                                {% else %}
                                    {{ category.title }}
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
                <h2>Accessible Service</h2>
                <hr>
                <div class="col-12 mb-5">
                    <div class="row">
                        <div class="col-5">
                            <ul class="overview-list list-inline">
                                <li class="list-inline-item">
                                    Level entry or ramp
                                </li>
                            </ul>
                        </div>
                        <div class="col-7">
                            <ul class="overview-list list-inline">
                                {% for _ in level_entry_rating_full %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-full fas fa-star"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in level_entry_rating_half %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-half fas fa-star-half-alt"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in level_entry_rating_null %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-null far fa-star"></i>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <ul class="overview-list list-inline">
                                <li class="list-inline-item">
                                    32-inch wide door
                                </li>
                            </ul>
                        </div>
                        <div class="col-7">
                            <ul class="overview-list list-inline">
                                {% for _ in wide_door_rating_full %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-full fas fa-star"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in wide_door_rating_half %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-half fas fa-star-half-alt"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in wide_door_rating_null %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-null far fa-star"></i>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <ul class="overview-list list-inline">
                                <li class="list-inline-item">
                                    Accessible tables
                                </li>
                            </ul>
                        </div>
                        <div class="col-7">
                            <ul class="overview-list list-inline">
                                {% for _ in accessible_table_rating_full %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-full fas fa-star"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in accessible_table_rating_half %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-half fas fa-star-half-alt"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in accessible_table_rating_null %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-null far fa-star"></i>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <ul class="overview-list list-inline">
                                <li class="list-inline-item">
                                    Accessible restroom
                                </li>
                            </ul>
                        </div>
                        <div class="col-7">
                            <ul class="overview-list list-inline">
                                {% for _ in accessible_restroom_rating_full %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-full fas fa-star"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in accessible_restroom_rating_half %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-half fas fa-star-half-alt"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in accessible_restroom_rating_null %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-null far fa-star"></i>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <ul class="overview-list list-inline">
                                <li class="list-inline-item">
                                    Accessible 36-inch wide path
                                </li>
                            </ul>
                        </div>
                        <div class="col-7">
                            <ul class="overview-list list-inline">
                                {% for _ in accessible_path_rating_full %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-full fas fa-star"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in accessible_path_rating_half %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-half fas fa-star-half-alt"></i>
                                    </li>
                                {% endfor %}
                                {% for _ in accessible_path_rating_null %}
                                    <li class="list-inline-item">
                                        <i class="icon-star-null far fa-star"></i>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <h2>Photo Gallery</h2>
                <hr>
                <div class="col-12 mb-5">
                    <!--Carousel Wrapper-->
                    <div id="carousel-restaurant-image" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
                        <!--Indicators-->
                        <ol class="carousel-indicators">
                            {% for image in restaurant_data.photos %}
                                {% if forloop.counter0 == 0 %}
                                    <li data-target="#carousel-restaurant-image" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                                {% else %}
                                    <li data-target="#carousel-restaurant-image" data-slide-to="{{ forloop.counter0 }}"></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                        <!--/.Indicators-->
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox">
                            {% for image in restaurant_data.photos %}
                                {% if forloop.counter0 == 0 %}
                                    <div class="carousel-item active">
                                        <div class="view">
                                            <img class="d-block w-100" src="{{ image }}" alt="First slide" style="width:100%;height:500px;object-fit:cover;">
                                            <div class="mask rgba-black-light"></div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="carousel-item">
                                        <div class="view">
                                            <img class="d-block w-100" src="{{ image }}" alt="First slide" style="width:100%;height:500px;object-fit:cover;">
                                            <div class="mask rgba-black-light"></div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!--/.Slides-->
                        <!--Controls-->
                        <a class="carousel-control-prev" href="#carousel-restaurant-image" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-restaurant-image" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!--/.Controls-->
                    </div>
                    <!--/.Carousel Wrapper-->
                </div>
                <h2>Reviews</h2>
                <hr>
                <div class="col-12 mb-5">
                    <div class="bg-light rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
    <!--                                    <a href="#" class="btn btn-outline-primary btn-sm float-right">Top Rated</a>-->
                        {% if local_restaurant_review %}
                            <h5 class="mb-1">Recommended Reviews</h5>
                            {% for review in local_restaurant_review %}
                                <div class="reviews-members pt-4 pb-4">
                                    <div class="media">
                                        <a href="{% url 'accessible_restaurant:public_facing' review.user_id %}"><img alt="..." src="{{ review.photo.url }}" class="mr-3 rounded-pill"></a>
                                        <div class="media-body">
                                            <div class="reviews-members-header">
                                                <span class="star-rating float-right">
                                                    <ul>
                                                        {% for _ in review.lfull %}
                                                            <li class="list-inline-item">
                                                                <i class="icon-star-full fas fa-star"></i>
                                                            </li>
                                                        {% endfor %}
                                                        {% for _ in review.lhalf %}
                                                            <li class="list-inline-item">
                                                                <i class="icon-star-half fas fa-star-half-alt"></i>
                                                            </li>
                                                        {% endfor %}
                                                        {% for _ in review.lnull %}
                                                            <li class="list-inline-item">
                                                                <i class="icon-star-null far fa-star"></i>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </span>
                                                <h6 class="mb-1">
                                                    <a class="text-black" href="{% url 'accessible_restaurant:public_facing' review.user_id %}">{{ review.username }}</a>
                                                    {% if review.auth_status and review.auth_status == 'certified' %}
                                                        <span class="badge badge-info"><i class="fas fa-wheelchair"></i>Certified User</span>
                                                        <a href="#" data-toggle="tooltip" title="Users who are certified to have disability by system." data-placement="bottom"><i class="fas fa-question-circle"></i></a>
                                                    {% endif %}
                                                </h6>
                                                <p class="text-gray">{{ review.review_date | date:"Y-m-d H:m:s" }}</p>
                                            </div>
                                            <div class="reviews-members-body">
                                                <p> {{ review.review_context }} </p>
                                            </div>
                                            <div class="reviews-members-footer">
                                                <a class="total-like" href="#collapseViewComment-{{ forloop.counter0 }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseViewComment-{{ forloop.counter0 }}"><i class="far fa-eye"></i> View Comments</a>
                                                <a class="total-like" href="#collapseAddComment-{{ forloop.counter0 }}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseAddComment-{{ forloop.counter0 }}"><i class="fas fa-pen"></i> Add Comment</a>
                                                <span class="total-like-user-main ml-2" dir="rtl">
                                                    {% for comment in review.comments_set2 %}
                                                        {% if forloop.counter0 < 8 %}
                                                            {% if comment.user.is_user %}
                                                                <a data-toggle="tooltip" data-placement="top" title="{{ comment.user.username }}" href="{% url 'accessible_restaurant:public_facing' comment.user.id %}" data-original-title="{{ comment.user.username }}">
                                                                    <img alt="..." src="{{ comment.user.uprofile.photo.url }}" class="total-like-user rounded-pill">
                                                                </a>
                                                            {% else %}
                                                                <a data-toggle="tooltip" data-placement="top" title="{{ comment.user.username }}" data-original-title="{{ comment.user.username }}">
                                                                    <img alt="..." src="{{ comment.user.rprofile.photo.url }}" class="total-like-user rounded-pill">
                                                                </a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    ...
                                                </span>
                                                <div class="collapse" id="collapseViewComment-{{ forloop.counter0 }}">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 m-4">
                                                            <div class="p-3 bg-white rounded">
                                                                <h6>Comments</h6>
                                                                {% for comment in review.comments_set %}
                                                                    <div class="review mt-4">
                                                                        <div class="d-flex flex-row comment-user">
                                                                            {% if comment.user.is_user %}
                                                                                <img class="rounded" src="{{ comment.user.uprofile.photo.url }}" width="50">
                                                                            {% else %}
                                                                                <img class="rounded" src="{{ comment.user.rprofile.photo.url }}" width="50">
                                                                            {% endif %}
                                                                            <div class="ml-2">
                                                                                <div class="d-flex flex-row align-items-center">
<!--                                                                                    <span class="name font-weight-bold">-->
                                                                                    <h6>
                                                                                        {% if comment.user.is_user %}
                                                                                            <a href="{% url 'accessible_restaurant:public_facing' comment.user.id %}">
                                                                                                {{ comment.user.username }}
                                                                                            </a>
                                                                                            {% if comment.user.uprofile.auth_status and comment.user.uprofile.auth_status == 'certified' %}
                                                                                                <span class="badge badge-info"><i class="fas fa-wheelchair"></i>Certified User</span>
                                                                                                <a href="#" data-toggle="tooltip" title="Users who are certified to have disability by system." data-placement="bottom"><i class="fas fa-question-circle"></i></a>
                                                                                            {% endif %}
                                                                                        {% elif restaurant.user and restaurant.user.id == comment.user.id %}
                                                                                            {{ comment.user.username }}
                                                                                            <span class="badge badge-pill badge-info"><i class="icon fas fa-utensils"></i> Restaurant</span>
                                                                                        {% else %}
                                                                                            {{ comment.user.username }}
                                                                                        {% endif %}
                                                                                    </h6>
<!--                                                                                    </span>-->
                                                                                </div>
                                                                                <div class="d-flex flex-row align-items-center">
                                                                                    <span class="date">{{ comment.time | date:"Y-m-d H:m:s" }}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="mt-2">
                                                                            <p class="comment-text">{{ comment.text }}</p>
                                                                        </div>
                                                                    </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="collapse" id="collapseAddComment-{{ forloop.counter0 }}">
                                                    <div class="row justify-content-center">
                                                        <div class="col-12 m-4">
                                                            <div class="card mb-3 wow fadeIn">
                                                                <div class="card-header font-weight-bold">Leave a comment</div>
                                                                <div class="card-body">
                                                                    <form method="POST" enctype="multipart/form-data" action="{% url 'accessible_restaurant:add_comment' restaurant.business_id review.id %}">
                                                                        {% csrf_token %}
                                                                        <!-- Comment -->
                                                                        <div class="form-group">
                                                                            {{ comment_form.text }}
        <!--                                                                    <label for="replyFormComment">Your comment</label>-->
        <!--                                                                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>-->
                                                                        </div>
                                                                        <div class="text-center mt-2">
                                                                            <button class="btn btn-info btn-md" type="submit">Post</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <hr>
                        {% endif %}
                        <h5 class="mt-4 mb-1">Yelp Reviews</h5>
                        {% for review in restaurant_review.reviews %}
                            <div class="reviews-members pt-4 pb-4">
                                <div class="media">
                                    <a href="{{ review.user.profile_url }}"><img alt="..." src="{{ review.user.image_url }}" class="mr-3 rounded-pill"></a>
                                    <div class="media-body">
                                        <div class="reviews-members-header">
                                            <span class="star-rating float-right">
                                                <ul>
                                                    {% for _ in review.full %}
                                                        <li class="list-inline-item">
                                                            <i class="icon-star-full fas fa-star"></i>
                                                        </li>
                                                    {% endfor %}
                                                    {% for _ in review.half %}
                                                        <li class="list-inline-item">
                                                            <i class="icon-star-half fas fa-star-half-alt"></i>
                                                        </li>
                                                    {% endfor %}
                                                    {% for _ in review.null %}
                                                        <li class="list-inline-item">
                                                            <i class="icon-star-null far fa-star"></i>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </span>
                                            <h6 class="mb-1"><a class="text-black" href="{{ review.user.profile_url }}">{{ review.user.name }}</a></h6>
                                            <p class="text-gray">{{ review.time_created }}</p>
                                        </div>
                                        <div class="reviews-members-body">
                                            <a href="{{ review.url }}" class="text-dark"> {{ review.text }} </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
<!--                                        <a class="text-center w-100 d-block mt-4 font-weight-bold" href="#">See All Reviews</a>-->
                    </div>
                </div>
            </div>
            <div class="col-4 mb-5">
                <div class="card my-5">
                    <a class="btn btn-success btn-green btn-md" href="{% url 'accessible_restaurant:write_review' restaurant.business_id %}"><i class="far fa-edit"></i> Write a review</a>
                </div>
                <div class="text-center">
                    <script type="text/javascript">
                    function map_init(map, options) {
                        // get point lat and lon
                        var lat = "{{ restaurant_data.coordinates.latitude }}";
                        var lon = "{{ restaurant_data.coordinates.longitude }}";
                        var mapboxUrl = 'https://api.mapbox.com/styles/v1/mapbox/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}';
                        var accessToken = 'pk.eyJ1IjoicnJyb3NzeTMxMiIsImEiOiJja2gwMjkxZ2swNjh2MnltaGN3eW54Zm9mIn0.75YK7P3nQxVJhbYwX8cwNw';
                        // zoom to point & add it to map
                        map.setView([lat, lon], 13);
                        L.marker([lat, lon]).addTo(map);
                        L.tileLayer(mapboxUrl, {id: 'outdoors-v11',
                            attribution: '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>', maxZoom: 20, accessToken: accessToken}).addTo(map);

                    }</script>
                    {% leaflet_map "mymap" callback="map_init" %}
                </div>
                <div class="card my-5">
                    <div class="card-body">
                        <h5 class="card-header text-center" style="background-color: transparent;">Contact Info</h5>
                        <p class="card-text">
                            <ul>
                                <li class="m-2">
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="address-icon fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="col-10">
                                            {{ restaurant_data.location.address1 }}, {{ restaurant_data.location.city }}, {{ restaurant_data.location.state }} {{ restaurant_data.location.zip_code }}
                                        </div>
                                    </div>
                                </li>
                                <li class="m-2">
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="phone-icon fas fa-phone-alt"></i>
                                        </div>
                                        <div class="col-10">
                                            {{ restaurant_data.display_phone }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="card my-5">
                    <div class="card-body text-center">
                        <h5 class="card-header" style="background-color: transparent; padding-left: 0; padding-right: 0;">
                            <div class="row justify-content-center">
                                <i class="far fa-clock mx-2"></i>
                                Business Hours
                            </div>
                            <div class="row justify-content-center">
                                {% if is_open_now %}
                                    <span class="badge badge-pill badge-success">Open Now</span>
                                {% else %}
                                    <span class="badge badge-pill badge-secondary">Closed</span>
                                {% endif %}
                            </div>
                        </h5>
                        <p class="card-text">
                            <ul>
                                {% if hours %}
                                    {% for hour_data in hours %}
                                        <li class="m-2">
                                            <div class="row">
                                                <div class="col-4">
                                                    {{ hour_data.weekday }}
                                                </div>
                                                <div class="col-8">
                                                    {{ hour_data.start }}-{{ hour_data.end }}
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li class="m-2">Open hours data not available</li>
                                {% endif %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}