{% extends "base.html" %}

{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/detail_style.css' %}">
	<script src="https://kit.fontawesome.com/6a247440d5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Restaurant Detail Page {% endblock %}

{% block body %}<body class="subpage">{% endblock %}

{% block content %}
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="row 200%">
				<div class="8u 12u$(medium)">
					<header>
						<ul class="actions">
							<li><h2><strong>Just Salad</strong></h2></li>
							<li><h4><i class="icon far fa-check-circle"></i>compliant</h4></li>
						</ul>
						<ul class="icons">
							<li><i class="icon fas fa-star"></i></li>
							<li><i class="icon fas fa-star"></i></li>
							<li><i class="icon fas fa-star"></i></li>
							<li><i class="icon fas fa-star-half-alt"></i></li>
							<li><i class="icon far fa-star"></i></li>
							<li><h4>115 Reviews</h4></li>
						</ul>
						<ul class="actions">
							<li><a href="#" class="button special"><i class="far fa-edit"></i>Write a review</a></li>
						</ul>
					</header>

					<hr />
					<h3>About the restaurant</h3>
					<ul>
						<li><p><strong>Price:</strong> $$</p></li>
						<li><p><strong>Categories:</strong> Salad Vegetarian Grocery</p></li>
					</ul>
					<hr />

					<h3>Accessible Services</h3>
					<div class="row uniform">
						<div class="4u 12u$(small)">
							<i class="icon fas fa-check-square" id="checklist1"></i>Level entry or ramp
						</div>
						<div class="4u 12u$(small)">
							<i class="icon fas fa-check-square" id="checklist2"></i>32-inch wide door
						</div>
						<div class="4u 12u$(small)">
							<i class="icon fas fa-check-square" id="checklist3"></i>Accessible tables
						</div>
					</div>
					<div class="row uniform">
						<div class="4u 12u$(small)">
							<i class="icon fas fa-times-circle" id="checklist4"></i>Accessible 36-inch wide path
						</div>
						<div class="4u 12u$(small)">
							<i class="icon fas fa-check-square" id="checklist5"></i>Accessible restroom
						</div>
					</div>

					<hr />
					<h3>Recommended Reviews</h3>
					<div class="row uniform">
						<div class="3u 12u$(medium)">
							<div class="row uniform">
								<span class="image fit"><img src="https://s3-media3.fl.yelpcdn.com/photo/0KTs4CmyReYrF0K3jVSQhQ/o.jpg" alt="" /></span>
							</div>
							<div class="row">
								<h4>Kenny C.</h4>
							</div>
						</div>
						<div class="9u 12u$(medium)">
							<div class="row uniform">
								<ul class="icons">
									<li><i class="ratingIcon fas fa-star"></i></li>
									<li><i class="ratingIcon fas fa-star"></i></li>
									<li><i class="ratingIcon fas fa-star"></i></li>
									<li><i class="ratingIcon fas fa-star-half-alt"></i></li>
									<li><i class="ratingIcon far fa-star"></i></li>
									<li><h4>2020-03-04 11:45:35</h4></li>
								</ul>
							</div>
							<div class="row uniform">
								<p>Got the chicken shawarma salad. It was fine. Portion size was just enough for weekday lunch. The Sriracha drizzle could've been spicier, but overall pretty...</p>
							</div>
							<div class="row uniform">
								<span class="image fit"><img src="https://s3-media3.fl.yelpcdn.com/photo/0KTs4CmyReYrF0K3jVSQhQ/o.jpg" alt="" /></span>
							</div>
						</div>
					</div>
					<div class="row uniform">
						<div class="3u 12u$(medium)">
							<div class="row uniform">
								<span class="image fit"><img src="https://s3-media3.fl.yelpcdn.com/photo/vEWLyNqG-aQYzIwmWVH7Sw/o.jpg" alt="" /></span>
							</div>
							<div class="row">
								<h4>Lili R.</h4>
							</div>
						</div>
						<div class="9u 12u$(medium)">
							<div class="row uniform">
								<ul class="icons">
									<li><i class="ratingIcon fas fa-star"></i></li>
									<li><i class="ratingIcon fas fa-star"></i></li>
									<li><i class="ratingIcon fas fa-star"></i></li>
									<li><i class="ratingIcon fas fa-star-half-alt"></i></li>
									<li><i class="ratingIcon far fa-star"></i></li>
									<li><h4>2019-10-07 04:49:29</h4></li>
								</ul>
							</div>
							<div class="row uniform">
								<p>Salad spot where you can bring your own bowl, as long as it's their bowl. Just Salad's menu is diverse for all meat and veggie lovers.</p>
							</div>
							<div class="row uniform">
								<span class="image fit"><img src="https://s3-media3.fl.yelpcdn.com/photo/vEWLyNqG-aQYzIwmWVH7Sw/o.jpg" alt="" /></span>
							</div>
						</div>
					</div>
				</div>

				<div class="4u$ 12u$(medium)">
					<h3>Open Hours</h3>
					<ul>
						<li>Mon 5:00 PM - 9:00 PM</li>
						<li>Tue 5:00 PM - 10:00 PM</li>
						<li>Wed 5:00 PM - 10:00 PM</li>
						<li>Thu 5:00 PM - 10:00 PM</li>
						<li>Fri 5:00 PM - 10:00 PM</li>
						<li>Sat 10:30 AM - 2:30 PM</li>
						<li>Sun 10:30 AM - 3:00 PM</li>
					</ul>
					<h3>Contact Info</h3>
					<ul class="alt">
						<li><i class="icon fas fa-phone-square-alt"></i>12122441111</li>
						<li><i class="icon fas fa-map-marker-alt"></i>233 Broadway, New York, NY 10279</li>
					</ul>
					<h3>Pictures</h3>
					<span class="image fit"><img src="https://s3-media2.fl.yelpcdn.com/bphoto/NHTe_4NV0WJNw-Uwt-C50A/o.jpg" alt="" /></span>
				</div>
			</div>
		</div>
	</section>
{% endblock %}