{% extends "base.html" %}

{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/detail_style.css' %}">
	<script src="https://kit.fontawesome.com/6a247440d5.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block title %} Restaurant Not Found {% endblock %}

{% block body %}<body class="subpage">{% endblock %}

{% block content %}
    <h2><center>{{ business_id }} {{ error_message }}</center></h2>
{% endblock %}