{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/profile-style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Account Profile</title>
</head>
<body>
    <div class="warpper fl">
        <div class="main">
            <div class="head">
                <p>Restaurant Account Profile</p>
            </div>
            {% load crispy_forms_tags %}
            <div class="form fl">
                <form method="POST">
                    {% csrf_token %}
                    <!-- {% for field in form %}
                        <p class="name">{{ field.label_tag }}</p>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %} -->
                    {{ form|crispy }}
<!--                The following code is an example of how to access specific field of the form-->
<!--                Feel free to use it if you want to customize each field differently-->
<!--                <p class="name">{{ form.username.label }}</p>-->
<!--                {{ form.username }}-->
<!--                <p class="name">{{ form.email.label }}</P>-->
<!--                {{ form.email }}-->
<!--                <p class="name">{{ form.password1.label }}</p>-->
<!--                {{ form.password1 }}-->
<!--                <p class="name">{{ form.password2.label }}</p>-->
<!--                {{ form.password2 }}-->
                    <p><input type="submit" id="submit" name="sb" value="SUBMIT" class="sub"></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>