{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'restaurants/style.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <div class="warpper fl">
        <div class="main">
            <div class="head">
<p>
Registration Form</p>
</div>
<div class="form fl">
<form method="POST">
<p class="name">
FIRST NAME* :</p>
<p>
<input type="text" id="firstname" name="fname" placeholder="First Name" class="name-inp"></p>
<p class="name">
LAST NAME* :</p>
<p>
<input type="text" id="lastname" name="lname" placeholder="Last Name" class="name-inp"></P>
                    <p class="name">
Username* :</p>
<p>
<input type="text" id="username" name="uname" placeholder="Username" class="name-inp"></p>
<p class="name">
EMAIL* :</P>
                    <p>
<input type="email" id="email" name="uid" placeholder="Email" class="name-inp"></p>
<p class="name">
PASSWORD* :</p>
<p>
<input type="password" id="password" name="pass" placeholder="Password" class="pass">
                        <input type="password" id="password_c" name="pass" placeholder="Confirm Password" class="pass">
                    </p>
<p class="name"><input type="checkbox" id="accept"> I AM A RESTAURANT</p>
<p>
<input type="submit" id="submit" name="sb" value="SUBMIT" class="sub"></p>
</form>
</div>
</div>
</div>
</body>
</html>