{% extends "base.html" %}

{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/profile-style.css' %}">
{% endblock %}

{% block title %} Restaurant Account Profile {% endblock %}

{% block body %}<body class="subpage">{% endblock %}

{% block content %}
    <div class="wrapper fl">
        <div class="main">
            <div class="head">
                <p>Restaurant Account Profile</p>
            </div>
            {% load crispy_forms_tags %}
            <div class="form fl">
                <form method="POST">
                    {% csrf_token %}
                    {{ profile_form|crispy }}
                    <div class="submit-wrap">
                        <input type="submit" id="submit" name="sb" value="SUBMIT">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}