@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Basic */

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		color: #9a9a9a;
		font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
		font-size: 14pt;
		font-weight: 400;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body {
				font-size: 12pt;
			}

		}

	a {
		color: #6cc091;
		text-decoration: underline;
	}

		a:hover {
			text-decoration: none;
		}

	strong {
		color: #555;
		font-weight: 600;
	}

	.inner {
		max-width: 75em;
		margin: 0 auto;
	}

		@media screen and (max-width: 1280px) {

			.inner {
				max-width: 90%;
			}

		}

		@media screen and (max-width: 480px) {

			.inner {
				max-width: 90%;
			}

		}


/* Header */

	.subpage {
		padding-top: 44px;
		color: #000000;
	}

		.subpage #header {
			background: #6cc091;
			top: 0;
			height: 44px;
			line-height: 44px;
			position: fixed;
		}

	#header {
		color: #fff;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: absolute;
		text-align: right;
		top: 2em;
		width: 100%;
		z-index: 10001;
	}

		#header .inner {
			margin: 0 auto;
			position: relative;
		}

		#header .logo {
			color: #ffffff;
			display: inline-block;
			font-weight: 400;
			height: inherit;
			left: 0;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			font-size: 1em;
		}

			#header .logo strong {
				color: #ffffff;
				font-weight: 600;
			}

		#header a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0 0.75em;
			color: inherit;
			text-decoration: none;
			font-size: 1em;
		}

			#header a:hover {
				color: #ffffff;
			}

			#header a:last-child {
				padding-right: 0;
			}

			#header a.navPanelToggle {
				display: none;
				text-decoration: none;
				height: 4em;
				width: 4em;
				z-index: 10003;
			}

				#header a.navPanelToggle .fa {
					font-size: 1.25em;
				}

				@media screen and (max-width: 980px) {

					#header a.navPanelToggle {
						display: inline-block;
					}

				}

			@media screen and (max-width: 736px) {

				#header a {
					padding: 0 0.5em;
				}

			}

	@media screen and (max-width: 980px) {

		#header {
			top: 1em;
		}

	}

	@media screen and (max-width: 736px) {

		#header {
			top: .5em;
		}

	}

	@media screen and (max-width: 480px) {

		#header {
			font-size: .9em;
		}

	}

/* Nav */

	@media screen and (max-width: 980px) {

		#nav {
			display: none;
		}

	}

	#navPanel {
		-moz-transform: translatex(20em);
		-webkit-transform: translatex(20em);
		-ms-transform: translatex(20em);
		transform: translatex(20em);
		-moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
		-webkit-overflow-scrolling: touch;
		visibility: hidden;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		background: #6cc091;
		color: #daefe3;
		height: 100%;
		max-width: 80%;
		width: 20em;
		padding: 0.5em 1.25em;
		z-index: 10010;
	}

		#navPanel.visible {
			-moz-transform: translatex(0);
			-webkit-transform: translatex(0);
			-ms-transform: translatex(0);
			transform: translatex(0);
			box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
			visibility: visible;
		}

		#navPanel a:not(.close) {
			border-top: solid 1px #8dcca9;
			color: #daefe3;
			font-weight: 600;
			display: block;
			padding: 0.75em 0;
			text-decoration: none;
			font-weight: 400;
		}

			#navPanel a:not(.close):first-child {
				border: none;
			}

		#navPanel .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #daefe3;
			cursor: pointer;
			display: block;
			height: 4em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 5em;
		}

			#navPanel .close:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
				content: '\f00d';
				width: 3em;
				height: 3em;
				line-height: 3em;
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				text-align: center;
			}

			#navPanel .close:hover {
				color: inherit;
			}