{% extends "base.html" %}

{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/banner_style.css' %}">
{% endblock %}

{% block title %} Home Page {% endblock %}

{% block content %}
<section id="banner">
    <div class="inner">
        <header>
            <h1>Welcome to NYC Accessible Restaurant Advisor</h1>
        </header>
        <footer>
            <h3><a href="{% url 'accessible_restaurant:browse' 0 'default'%}" class="button">Start Browsing</a></h3>
        </footer>
    </div>
</section>
<div class="inner">
    <h1>Contact Us</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>
        </form>
</div>
{% endblock %}