<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'accessible_restaurant/about_style.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/
        4.7.0/css/font-awesome.min.css">
    <title>Our-Team</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>Mission Statement</h1>
        </div>
        <div class="about">We want to develop a project that provides a special platform for people, 
            especially for people with disabilities, to get accessibility accommodation information 
            about local businesses around them. People are able to read other people’s reviews and 
            suggestions when they choose a restaurant so that they can have a better experience. 
            This project also gives a way for businesses to help people to get to know them, especially 
            information about accommodation for people with disabilities. 
             </div>  
        <div class="header">
            <h1>Our Team</h1>
        </div>
        <div class="sub-container">
            <div class="teams">
                <img src="../static/accessible_restaurant/images/Mine.jpg" alt="">
                <div class="name">Ritu Kuklani</div>
                <div class="desig">Developer</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Earum labore quam reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>

            <div class="teams">
                <img src="../static/accessible_restaurant/images/image.png" alt="">
                <div class="name">Katie Rosman </div>
                <div class="desig">Product Owner</div>
              <div class="about">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Earum labore quam reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            <div class="teams">
                <img src="../static/accessible_restaurant/images/IMG198.jpeg" alt="">
                <div class="name">Xuanyu Chen </div>
                <div class="desig">Developer</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Earum labore quam reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>    
            </div>
            <div class="teams">
                <img src="../static/accessible_restaurant/images/IMG_5036.JPG" alt="">
                <div class="name">Xiaodan Tang </div>
                <div class="desig">Developer</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Earum labore quam reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
            
            <div class="teams">
                <img src="../static/accessible_restaurant/images/Image from iOS.jpg" alt="">
                <div class="name">Huanjin Zhang </div>
                <div class="desig">Developer</div>
                <div class="about">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Earum labore quam reprehenderit
                    vitae aliquam dicta! </div>

                <div class="social-links">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>    
            </div>

        </div>
    </div>
</body>

</html>