{% extends "base.html" %}

{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/banner_style.css' %}">
{% endblock %}

{% block title %} Registration {% endblock %}

{% block content %}
<section id="banner">
    <div class="inner">
        <header>
            <h1>Welcome to NYC Accessible Restaurant Advisor</h1>
        </header>

        <div class="flex ">
            <div>
                <h3><a href="{% url 'accessible_restaurant:user_signup' %}">As a User</a></h3>
                <p>Write Review/Leave Feedback</p>
            </div>

            <div>
                <h3><a href="{% url 'accessible_restaurant:browse' 0 %}">Just Browsing</a></h3>
                <p>Search</p>
            </div>

            <div>
                <h3><a href="{% url 'accessible_restaurant:restaurant_signup' %}">As a Restaurant</a></h3>
                <p>Post info/Connect with customer</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}