{% extends "baseheader.html" %}
{% load crispy_forms_tags %}

{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/signin_style.css' %}">
    <script src="https://kit.fontawesome.com/6a247440d5.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container content">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-8 d-flex align-items-center">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                        {% if form.non_field_errors %}
                            <div class="col-lg-12">
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <strong>{{ form.non_field_errors|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Username -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-user text-muted"></i>
                                </span>
                            </div>
<!--                            <input id="username" type="text" name="username" placeholder="Username" class="form-control bg-white border-left-0 border-md">-->
                            {{ form.username }}
                        </div>
                        {% for error in form.username.errors %}
                            <div class="col-lg-12">
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}

                        <!-- Password -->
                        <div class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
<!--                            <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">-->
                            {{ form.password }}
                        </div>
                        {% for error in form.password.errors %}
                            <div class="col-lg-12">
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <strong>{{ error|escape }}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}

                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Forget Password? <a href="{% url 'accessible_restaurant:password-reset' %}" class="text-primary ml-2">Reset</a></p>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group col-lg-12 mx-auto mb-0">
                            <input type="submit" id="submit" name="submit" value="Login" class="btn btn-primary btn-block py-2 font-weight-bold">
<!--                            <a href="#" class="btn btn-primary btn-block py-2">-->
<!--                                <span class="font-weight-bold">Login</span>-->
<!--                            </a>-->
                        </div>

                        <!-- Divider Text -->
                        <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                            <div class="border-bottom w-100 ml-5"></div>
                            <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                            <div class="border-bottom w-100 mr-5"></div>
                        </div>

                        <!-- Social Login -->
                        <div class="form-group col-lg-12 mx-auto">
                            <a href="{% provider_login_url 'facebook' process='login' action='reauthenticate' %}" class="btn btn-primary btn-block py-2 btn-facebook">
                                <i class="fa fa-facebook-f mr-2"></i>
                                <span class="font-weight-bold">Continue with Facebook</span>
                            </a>
                            <a href="{% provider_login_url 'google' process='login' action='reauthenticate' %}" class="btn btn-primary btn-block py-2 btn-google">
                                <i class="fab fa-google mr-2"></i></i>
                                <span class="font-weight-bold">Continue with Google</span>
                            </a>
                        </div>

                        <!-- Not Registered -->
                        <div class="text-center w-100">
                            <p class="text-muted font-weight-bold">Not Registered? <a href="{% url 'accessible_restaurant:signup' %}" class="text-primary ml-2">Register</a></p>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}