{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block staticlink %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accessible_restaurant/manage_style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block title %} Certificate Management {% endblock %}

{% block body %}<body class="subpage">{% endblock %}

{% block content %}
    <section id="tabs" class="project-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags %}
                                <script>alert("{{ message }}")</script>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true">User Authentication</a>
                            <a class="nav-item nav-link" id="nav-restaurant-tab" data-toggle="tab" href="#nav-restaurant" role="tab" aria-controls="nav-restaurant" aria-selected="false">Restaurant Authentication</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                            <table class="table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width: 15%">Username</th>
                                        <th style="width: 15%">Name</th>
                                        <th style="width: 20%">Certificate</th>
                                        <th style="width: 15%">Status</th>
                                        <th style="width: 25%">Creation Time</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for curr_form in user_certificate_list %}
                                     <form method="post" action="{% url 'accessible_restaurant:authenticate' %}">
                                         {% csrf_token %}
                                         <input type="text" class="profile-edit-btn" name="user_id" value="{{ curr_form.instance.user.id }}" style="display: none"/>
                                         <tr>
                                             <td>{{ curr_form.instance.user.username }}</td>
                                             <td>{{ curr_form.instance.user.first_name }} {{ curr_form.instance.user.last_name }}</td>
                                             <td><a href="{{ curr_form.instance.auth_documents.url }}">Certificate File</a></td>
                                             <td>{{ curr_form.auth_status }}</td>
                                             <td>{{ curr_form.instance.time_created }}</td>
                                             <td><input type="submit" id="submit-user" name="submit-user" value="SUBMIT"></td>
                                         </tr>
                                     </form>
                                     <hr class="m-0">
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                            <div class="tab-pane fade" id="nav-restaurant" role="tabpanel" aria-labelledby="nav-restaurant-tab">
                                <table class="table table-hover" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%">Username</th>
                                            <th style="width: 23%">Restaurant</th>
                                            <th style="width: 16%">Business License</th>
                                            <th style="width: 16%">Status</th>
                                            <th style="width: 20%">Creation Time</th>
                                            <th style="width: 10%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for curr_form in restaurant_certificate_list %}
                                         <form method="post" action="{% url 'accessible_restaurant:authenticate' %}">
                                             {% csrf_token %}
                                             <input type="text" class="profile-edit-btn" name="owner_id" value="{{ curr_form.instance.user.id }}" style="display: none"/>
                                             <input type="text" class="profile-edit-btn" name="restaurant_id" value="{{ curr_form.instance.restaurant.business_id }}" style="display: none"/>
                                             <tr>
                                                 <td>{{ curr_form.instance.user.username }}</td>
                                                 <td>{{ curr_form.instance.restaurant.name }}</td>
                                                 <td><a href="{{ curr_form.instance.auth_documents.url }}">Permit File</a></td>
                                                 <td>{{ curr_form.auth_status }}</td>
                                                 <td>{{ curr_form.instance.time_created }}</td>
                                                 <td><input type="submit" id="submit-restaurant" name="submit-restaurant" value="SUBMIT"></td>
                                             </tr>
                                         </form>
                                         <hr class="m-0">
                                     {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}